@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --brand-gold: #C6A668;
  --brand-dark: #050505;
  --brand-gray: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-serif: var(--font-playfair), ui-serif, Georgia;
  --color-brand-gold: var(--brand-gold);
  --color-brand-dark: var(--brand-dark);
  --color-brand-gray: var(--brand-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
}
