@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-brand-dark text-white antialiased;
}

::selection {
  @apply bg-brand-gold text-brand-dark;
}
