@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

::selection {
  @apply bg-slate-900 text-white;
}
